services:
  db:
    build: ./db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./local/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 3s
      retries: 10
      start_period: 5s

  bfm:
    build: ./services/bfm
    command: ruby app.rb -o 0.0.0.0
    ports:
      - "8000:4567"
    depends_on:
      db:
        condition: service_healthy
      service1:
        condition: service_started
      service2:
        condition: service_started
    volumes:
      - ./services/bfm:/workspace
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db/bfm_test

  service1:
    build: ./services/service1
    command: ruby app.rb -o 0.0.0.0
    ports:
      - "8001:4567"
    depends_on: [ db ]
    volumes: [ ./services/service1:/workspace ]


  service2:
    build: ./services/service2
    command: ruby app.rb -o 0.0.0.0
    ports:
      - "8002:4567"
    depends_on: [ db ]
    volumes: [ ./services/service2:/workspace ]
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db/service2_test

  tests:
    build: ./tests
    depends_on:
      - bfm
      - db
    volumes: [ ./tests:/workspace ]
    environment:
      - BFM_DATABASE_URL=postgres://postgres:postgres@db/bfm_test
      - SERVICE2_DATABASE_URL=postgres://postgres:postgres@db/service2_test
