services:
  db:
    build: ./db
    container_name: bfm-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./local/db:/var/lib/postgresql/data

  bfm:
    build: ./services/bfm
    container_name: bfm
    command: ruby app.rb -o 0.0.0.0 -e development
    ports:
      - "8000:4567"
    depends_on:
      - db
      - service1
      - service2
    volumes:
      - ./services/bfm:/workspace
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db/bfm_development

  service1:
    build: ./services/service1
    command: ruby app.rb -o 0.0.0.0
    ports:
      - "8001:4567"
    depends_on: [ db ]
    volumes: [ ./services/service1:/workspace ]


  service2:
    build: ./services/service2
    command: ruby app.rb -o 0.0.0.0
    ports:
      - "8002:4567"
    depends_on: [ db ]
    volumes: [ ./services/service2:/workspace ]
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db/service2_development

