name: Run Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Compose
        uses: docker/setup-buildx-action@v3

      - name: Build and run test
        run: |
          docker compose -f docker-compose.test.yml up --build --abort-on-container-exit
          
      - name: Tear down
        run: docker compose --profile test down -v
